.container {
   display: table;
}
.row {
   display: table-row;
}
.col1, .col2, .col3, .col4, .col1H, .col2H, .col3H, .col4H {
   display: table-cell;
   padding-right: 25px;
}
.col1H, .col2H, .col3H, .col4H {
   border-bottom: 2px solid #000000;
}
.divCol1 {
   display: inline-block; width: 100px;
}
.divCol2 {
   display: inline-block;
}

.editPanel {
   visibility: hidden;
}

.idEdit {
   visibility: hidden;
}
